body {
  background-color: #e6ecf0;
}

.navbar{
  margin-bottom:  1rem;
}

.navbar a{
  font-weight: bold;
  color: white;
}

.navbar-nav a:hover{
  animation: 0.2s anchor ease-in-out;
  animation-fill-mode: forwards;
  text-decoration: none;
  cursor: pointer;
}
.navbar-brand > img{
  display: inline-block;
  width: 30px;
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 2px;
}
.navbar-brand{
  font-size: 30px;
}

ul.nav.navbar-nav li{
  margin: 0 0.5rem;
}

.onboarding > .navbar{
  background-color: #1DA1F2;
  background-size: 100% 100%;
}


@keyframes anchor{
  from{
    opacity: 100%;
  }
  to{
    opacity: 50%;
  }
}